.testimonials
{
padding-top: 20px;
padding-bottom: 2px;
}
.paragraph{
padding-top: 10px;
padding-right: 30px;
padding-bottom: 2px;
padding-left: 30px;

}
.imgstyle{
    max-width: 100% !important;
    padding-left: 242px !important;
    height: 68px !important;

}